/* Slide 3 Style */
.third-content {
  top: 120% !important;
  transform: translateY(-120%);
}
.third-slide a {
  text-decoration: none;
}
.featured-item {
  transition: all 0.5s;
  text-align: left;
}
.featured-item img {
  width: 100%;
}
.featured-item .down-content {
  background-color: #fff;
  border: 5px solid #faf5b2;
  padding: 15px;
}
.featured-item h4 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  color: #1e1e1e;
  transition: all 0.5s;
}
.featured-item h6 {
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 0px;
}
.owl-dots {
  text-align: center;
  margin-top: 30px;
}
.owl-dots .owl-dot {
  outline: none;
  display: inline-block;
}
.owl-dots .active span {
  background-color: #faf5b2 !important;
}
.owl-dots .owl-dot span {
  background-color: #fff;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0px 5px;
  outline: none;
  cursor: pointer;
}
