@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #333;
  }
}

@keyframes fillColour {
  0% {
    color: #fff;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #333;
  }
}

@keyframes scale {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

/* Firefox < 16 */
@-moz-keyframes scale {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scale {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

/* Internet Explorer */
@-ms-keyframes scale {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

/* Opera < 12.1 */
@-o-keyframes scale {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  font-size: 100%;
}

.slides {
  width: 500vw;
  height: 100vh;
}

.slides .slide {
  -webkit-animation: scale 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: scale 2s;
  /* Firefox < 16 */
  -ms-animation: scale 2s;
  /* Internet Explorer */
  -o-animation: scale 2s;
  /* Opera < 12.1 */
  animation: scale 2s;

  height: 100vh;
  width: 100vw;
  float: left;

  text-align: center;
  background-size: cover;
  position: fixed;
}

.slides .slide .content {
  overflow-y: scroll;
  position: fixed;
  width: 80%;
  height: 80%;
  left: 20%;
  top: 10%;
}

.content::-webkit-scrollbar {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

/* Add a thumb */
.content::-webkit-scrollbar-thumb {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.slides .slide {
  background-position: center center;
  background-size: cover;
  background-position: fixed;
}

.slides #about {
  background-image: url(./assets/images/about-bg.jpg);
  background-position: fixed;
}

.slides #gallery {
  background-image: url(./assets/images/gallery-bg.jpg);
  background-position: fixed;
}

.slides #contactus {
  background-image: url(./assets/images/contact-bg.jpg);
  background-position: fixed;
}

/* Responsive Style */
@media (max-width: 991.5px) {
  .slides .slide .content {
    width: 100%;
    height: 90%;
    left: 0;
  }

  .second-content {
    top: 250% !important;
    transform: translateY(-250%);
  }

  .third-content {
    top: 140% !important;
    transform: translateY(-140%);
  }

  .fourth-content {
    top: 220% !important;
    transform: translateY(-220%);
  }

  .logo {
    margin-top: 0px;
    top: 0;
    left: 0;
    z-index: 999999;
    position: fixed;
    display: inline-block;
    text-align: center;
    background-color: #faf5b2;
    opacity: .5;
    height: 10%;
    width: 15%;
  }

  .logo h1 {
    display: none;
  }

  .logo h2 {
    margin-top: 0px;
    line-height: 100px;
    height: 100px;
    width: 15vw;
    top: 0;
    left: 0;
    z-index: 999999;
    position: fixed;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    color: #111;
    display: inline-block;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: #faf5b2;
  }

  nav {
    top: 0vh;
    height: 100px;
    width: 85vw;
    margin-left: 15vw;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li {
    display: inline;
    margin: 0px;
  }

  nav ul li img {
    width: 35%;
  }

  nav ul li em {
    display: none;
  }

  nav a {
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 30px;
    display: inline-block;
  }

  .second-slide {
    top: 140px;
  }

  .slide-caption h2 {
    font-size: 48px;
  }

  .tabs-content {
    width: auto;
    text-align: center;
    margin: 0px 30px;
    padding: 20px;
  }

  .tabs-content p {
    margin-top: 20px;
  }

  #tabs ul li {
    display: inline-block;
    margin: 0px 10px;
  }

  #tabs ul {
    float: none;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }

  #thumbnail ul li {
    max-width: 80px;
    max-height: 80px;
    margin-left: 10px;
  }

  .slide-caption {
    padding-left: 30px;
  }

  #tabs ul li span {
    width: 60px;
    height: 60px;
    font-size: 22px;
    line-height: 54px;
  }

  #tabs ul .ui-tabs-active span {
    line-height: 60px;
  }

  .featured-item {
    padding: 30px 15px;
  }

  .owl-dots {
    margin-top: 10px;
    padding-bottom: 30px;
  }

  .tabs-content h2 {
    font-size: 21px;
  }

  .third-slide {
    text-align: center;
    margin: 0px;
  }

  .fourth-slide {
    margin-left: 0;
    top: 0;
    transform: translateY(0%);
    margin-top: 140px;
  }

  .contact-form {
    padding: 20px;
  }

  .contact-form h2 {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}